h1{
    color:#0a2d49;
    box-sizing: border-box;
  
    font-size: 36px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;

}
.H1{
    color:#0a2d49;
    text-align: center;
}
h2{
    color:#0a2d49;
    box-sizing: border-box;
    color:#1475d4;
    font-size: 30px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h3{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 26px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h4{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 22px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h5{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 20px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
p{
    color:black;
 
}
.bibliography{
    text-indent: -1.0cm;
     margin: 0cm 0cm 12.0pt 1.0cm;
}
blockquote{
    font-size: 20px;
    width:80%;
    margin:50px auto;
    
    color: black;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #020f53ef ;
    line-height:26px;
    position: relative;
    background:#EDEDED;
  }
  
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
/* div */
.book-text{
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;
    line-height: 23px;
}

.LO-solid-border{
 border: 4px solid ;    
  border-radius: 0px;
  color:   #1475d4;
  padding-left: 25px;
}
.LO-list{
    list-style-type: none;

}
.GR-solid-border{
    border: 5px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
   .EF-solid-border{
    border: 5px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25 px;
   }
   .PR-solid-border{
    border:5x solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
.video-caption{
    box-sizing: border-box;
    font-size: 17px;
    line-height: 23px;
    margin-top: 0px;
    text-align: center;
    font-style: italic; 
 
}
.explore-further{
border: 5px solid ;    
  border-radius: 0px;
  border-color:   #1475d4;
  padding: 25px; 
}

/* Jonsky's updates go here */

/* structure 
layout 
content 
Assets 
responsivty 
Cross
browser
compat */

/* 
    Introduction Page
*/

body {
  /* width: 100%; */
  /* height: 100vh; */
  /* background-color: red; */
  /* overflow: hidden; */
  /* text-align: center; */
}
.Wrapper {
  width: 100%;
  height: auto;
  /* background-color: lightgray; */
  /* background-color: gray; */
}

.Header {
  width: 100%;
  /* background-color: white; */
  height: 160px;
}
.Banner {
  width: 100%;
}
.twoColumnstextBlock {
  /* width: 100%; */
  height: 650px;
  background-color: gray;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
}
.textBlocksContentOverview {
  /* width: 100%; */
  width: 80%;
  height: 260px;
  background-color: white;
  /* margin: 3% auto; */
  margin: auto;
  padding: 10px;
}
.LineBreak {
  width: 100%;
  height: 5px;
  color: #00243a;
  background-color: #00243a;
}
.Faculty {
  text-align: center;
}
.FacultyDiv {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto auto;
  background-color: lightgray;
  width: 100%;
  height: 300px;
}
.FacultyImage {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: auto;
}
.Footer {
  width: 100%;
  height: 200px;
  background-color: gray;
  display: grid;
  grid-template-columns: auto 40%;
  text-align: center;
}
.contactUs {
  width: 90%;
  height: 200px;
  background-color: white;
  margin: auto auto auto 100px;
}
.Logo2 {
  margin: auto;
  width: 70%;
  height: 200px;
  background-color: white;
}
.imageGallery {
}

.videos {
}

.logo {
}
/* 
    interactive or functionality
*/

/* 
    responsivity
*/

/* 
Mobile responsiveness
*/

@media only screen and (max-width: 1025px) {
  .Wrapper {
    width: 100%;
    height: auto;
    /* background-color: gray; */
  }

  .Header {
    width: 100%;
    /* background-color: white; */
    height: 160px;
  }
  .twoColumnstextBlock {
    width: 100%;
    height: auto;
    grid-template-columns: auto;
  }
  .textBlocksContentOverview {
    width: 80%;
    margin: 2% auto;
  }
  .textBlocksContentOverview:nth-child(4) {
    margin-bottom: 2%;
    /* padding: 10px; */
  }
  .FacultyDiv {
    column-gap: 1px;
    grid-template-columns: auto auto;
    width: 100%;
    height: auto;
  }
  .FacultyImage {
    width: 170px;
    height: 150px;
    margin: 10px auto;
  }
  .Footer {
    width: 100%;
    height: auto;
    grid-template-columns: auto;
  }
  .contactUs {
    width: 90%;
    height: 200px;
    margin: 2% auto;
  }
  .Logo2 {
    margin: 2% auto;
    width: 90%;
    height: 200px;
  }
}

/* 
  Home Page
*/

.TextBox {
  width: 90%;
  height: auto;
  border: 2px solid;
  margin: 1% auto;
  text-align: center;
}
.NavigationMenu {
  width: 90%;
  height: 400px;
  background-color: gray;
  margin: 1% auto;
  text-align: center;
}
.Tabs {
  width: 90%;
  height: 150px;
  background-color: white;
  margin: 0% auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid;
}

.FlipCards {
  width: 90%;
  height: auto;
  margin: 1% auto;
  border: 2px solid;
  text-align: center;
}
H1 {
  text-align: center;
}
.TabsInner {
  width: 50%;
  height: 120px;
  background-color: gray;
  margin: auto;
}

/* 
Home Page Mobile
*/

@media only screen and (max-width: 1025px) {
  .Tabs {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 0% auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid;
  }
  .TabsInner {
    width: 60%;
    height: 100px;
    background-color: gray;
    margin: auto;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.GetSmarterLogo {
width: 10%;
padding-top: 5px;
}

.FooterLogo {
  width: 40%;
  vertical-align: bottom;
  }

.Header {
  background-color: #082135;
}

.Footer {
  background-color: #082135;
}

.contactUs {
  background-color: #082135;

}

.contactUs h2 {
  background-color: #082135;
  color: #b1c0cf;
}

.contactUs p {
  background-color: #082135;
  color: #b1c0cf;
  font-size: 14px;
  text-align: center;
}

.contactUs a {
  background-color: #082135;
  color: #b1c0cf;
}

.Logo2 {
  background-color: #082135;
  display: flex;
  justify-content: center;
}

.ConvenorImage {
  border-radius: 50%;
}

.FacultyImage {
  background-color: #d3d3d3;
  font-size: 14px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: none;
  margin:auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, 
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #930c60;
  color: #ffffff;
}

/* Style the back side */
.flip-card-back {
  background-color: #f42684;
  color: #ffffff;
  transform: rotateY(180deg);
}

.Accordion {
  width: 90%;
  height: auto;
  background-color: #ffffff;
  margin: 1% auto;
  text-align: center;
  border: 2px solid;
}

.Accordion:focus {
  outline-color: pink !important;
}

/* Jonsky's updates end here */
