h1{
    color:#0a2d49;
    box-sizing: border-box;
  
    font-size: 36px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;

}
.H1{
    color:#0a2d49;
    text-align: center;
}
.yuh{
  color: white;
}
h2{
    color:#0a2d49;
    box-sizing: border-box;
    color:#1475d4;
    font-size: 30px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h3{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 26px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h4{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 22px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h5{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 20px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
p{
    color:black;
 
}
.biblio{
    text-indent: -1.0cm;
    margin: 0cm 0cm 12.0pt 1.0cm;
}
.bibliography{
    text-indent: -1.0cm;
     margin: 0cm 0cm 12.0pt 1.0cm;
}
blockquote{
    font-size: 20px;
    width:80%;
    margin:50px auto;
    
    color: black;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #020f53ef ;
    line-height:26px;
    position: relative;
    background:#EDEDED;
  }
  
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
/* div */
.book-text{
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;
    line-height: 23px;
}

.LO-solid-border{
 border: 4px solid ;    
  border-radius: 0px;
  color:   #1475d4;
  padding-left: 25px;
}
.LO-list{
    list-style-type: none;

}
.GR-solid-border{
    border: 5px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
   .EF-solid-border{
    border: 5px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25 px;
   }
   .PR-solid-border{
    border:5x solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
.video-caption{
    box-sizing: border-box;
    font-size: 17px;
    line-height: 23px;
    margin-top: 0px;
    text-align: center;
    font-style: italic; 
 
}
.image-caption{
    box-sizing: border-box;
    font-size: 17px;
    line-height: 23px;
    margin-top: 0px;
    text-align: center;
    font-style: italic; 
 
}

.explore-further{
border: 5px solid ;    
  border-radius: 0px;
  border-color:   #1475d4;
  padding: 25px; 
}

/* Jonsky's updates go here */

.Wrapper {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1025px) {
  .Wrapper {
    width: 100%;
    height: auto;
    /* background-color: gray; */
  }

 
}

/* 
  Home Page
*/

.TextBox {
  width: 90%;
  height: auto;
  border: 2px solid;
  margin: 1% auto;
  text-align: center;
}
.NavigationMenu {
  width: 90%;
  height: 400px;
  background-color: gray;
  margin: 1% auto;
  text-align: center;
}
.Tabs {
  width: 90%;
  height: 150px;
  background-color: white;
  margin: 0% auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid;
}

.FlipCards {
  width: 90%;
  height: auto;
  margin: 1% auto;
  border: 2px solid;
  text-align: center;
}

.interactiveH1 {
  text-align: center;
}
.TabsInner {
  width: 50%;
  height: 120px;
  background-color: gray;
  margin: auto;
}

/* 
Home Page Mobile
*/

@media only screen and (max-width: 1025px) {
  .Tabs {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 0% auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid;
  }
  .TabsInner {
    width: 60%;
    height: 100px;
    background-color: gray;
    margin: auto;
  }
}

.interactiveBody {
  font-family: "Open Sans", sans-serif;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: none;
  margin:auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, 
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #dddddd;
  color: #000000;
}

/* Style the back side */
.flip-card-back {
  background-color: #cccccc;
  color: #000000;
  transform: rotateY(180deg);
}

.Accordion {
  width: 90%;
  height: auto;
  background-color: #ffffff;
  margin: 1% auto;
  text-align: center;
  border: 2px solid;
}

.Accordion:focus {
  outline-color: pink !important;
}

/* Jonsky's updates end here */
