h1{
    color:#0a2d49;

}
.H1{
    color:#0a2d49;
}
h2{
    color:#0a2d49;
}

h3{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 26px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h4{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 22px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
h5{
    box-sizing: border-box;
    color:#1475d4;
    font-size: 20px;
    font-weight: 500; 
    line-height: 32px;
    margin-bottom: 25px;
}
p{
    color:black;
 
}
blockquote{
    font-size: 20px;
    width:80%;
    margin:50px auto;
    
    color: #ffffff47;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #020f53ef ;
    line-height:26px;
    position: relative;
    /* background:#EDEDED; */
  }
  
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }
/* div */
.book-text{
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;
    line-height: 23px;
}

.LO-solid-border{
 border: 8px solid ;    
  border-radius: 0px;
  color:   #1475d4;
  padding-left: 25px;
}
.LO-list{
    list-style-type: none;

}
.GR-solid-border{
    border: 8px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
   .EF-solid-border{
    border: 8px solid ;    
     border-radius: 0px;
     color:   #1475d4;
     padding-left: 25px;
   }
.video-caption{
    box-sizing: border-box;
    font-size: 17px;
    line-height: 23px;
    margin-top: 0px;
    text-align: center;
    font-style: italic; 
 
}
.explore-further{
border: 5px solid ;    
  border-radius: 0px;
  border-color:   #1475d4;
  padding: 25px; 
}
/*  */

.TextBox {
  width: 90%;
  height: auto;
  border: 2px solid;
  margin: 1% auto;
  text-align: center;
}
.NavigationMenu {
  width: 90%;
  height: 400px;
  background-color: gray;
  margin: 1% auto;
  text-align: center;
}
.Tabs {
  width: 90%;
  height: 150px;
  background-color: white;
  margin: 0% auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid;
}

.FlipCards {
  width: 90%;
  height: auto;
  margin: 1% auto;
  border: 2px solid;
  text-align: center;
}
H1 {
  text-align: center;
}
.TabsInner {
  width: 50%;
  height: 120px;
  background-color: gray;
  margin: auto;
}

/* 
Home Page Mobile
*/

@media only screen and (max-width: 1025px) {
  .Tabs {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 0% auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid;
  }
  .TabsInner {
    width: 60%;
    height: 100px;
    background-color: gray;
    margin: auto;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.GetSmarterLogo {
width: 10%;
padding-top: 5px;
}

.FooterLogo {
  width: 40%;
  vertical-align: bottom;
  }

.Header {
  background-color: #082135;
}

.Footer {
  background-color: #082135;
}

.contactUs {
  background-color: #082135;

}

.contactUs h2 {
  background-color: #082135;
  color: #b1c0cf;
}

.contactUs p {
  background-color: #082135;
  color: #b1c0cf;
  font-size: 14px;
  text-align: center;
}

.contactUs a {
  background-color: #082135;
  color: #b1c0cf;
}

.Logo2 {
  background-color: #082135;
  display: flex;
  justify-content: center;
}

.ConvenorImage {
  border-radius: 50%;
}

.FacultyImage {
  background-color: #d3d3d3;
  font-size: 14px;
}

/* Jonsky's updates go here */

.Wrapper {
  width: 100%;
  height: auto;
  /* background-color: lightgray; */
  /* background-color: gray; */
}

/* Jonsky's updates end here */
